/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    font-family:sans-serif;
}

header
{
    display:flex;
    flex-direction:column;
    background-color:#3161E0;
    color:white;
}

footer
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#23272A;
}

/* Utilities */

.width-70
{
    width:70%;
}

.borders
{
    border:2px dashed black;
}

.button
{
    border-radius:30px;
    padding:20px 30px;
    text-decoration:none;
    font-size:20px;
}

.separator
{
    height:2px;
    width:100%;
    background-color: white;
}

/* Navigation bar */

.navigation-container
{
    display:flex;
    background-color:#3161E0;
    height:60px;
    margin:15px auto;
}

.nav-logo
{
    flex-basis:20%;
    display:flex;
    align-items:center;
}

.logo
{
    height:40px;
}

.navigation
{
    flex-basis:60%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.nav-list
{
    list-style-type:none;
    display:flex;
}

.nav-list > li > a
{
    color:white;
    text-decoration:none;
    font-weight:bold;
    padding:20px;
}

.nav-login
{
    flex-basis:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login
{
    background-color:white;
    color:black;
    border-radius:20px;
    padding:11px 17px;
    text-decoration:none;
    font-size:15px;
}

/* Introduction */

.jumbotron-container
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:620px;
    background-image:url("../img/jumbo.png");
    background-size:cover;
}

.jumbotron
{
    flex-basis:50%;
    height:500px;
    margin-top:100px;
    text-align:center;
}

h1
{
    flex-basis:500px;
    font-size:70px;
}

.jumbotron > p
{
    font-size:24px;
    margin-top:50px;
    margin-bottom:50px;
    line-height:38px;
}

.download-mac
{
    background-color:white;
    color:black;
    margin-right:30px;
}

.open-on-browser
{
    background-color:#23272A;
    color:white;
}

/* Main */

.section-container
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.section-container:nth-child(even)
{
    background-color:#D3D3D3;
}

.section
{
    height:500px;
    display:flex;
    margin:50px;
}

.section-image
{
    background-color:#1E90FF;
    flex-basis:60%;
}

.section-text
{
    background-color:#FFC0CB;
    flex-basis:40%;
}

.last-section
{
    background-color:#228B22;
    height:1000px;
    margin:50px;
}

/* Footer */

.info-container
{
    display:flex;
    height:600px;
    margin-top:10px;
    margin-bottom:50px;
}

.socials-info
{
    flex-basis:30%;
    background-color:#F08080;
}

.discord-info
{
    flex-basis:70%;
    background-color:#20B2AA;
    display:flex;
}

.info-column
{
    flex-basis:25%;
    border:2px dashed white;
}

.footer-bar
{
    background-color:#7FFFD4;
    height:100px;
    margin-top:30px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.footer-bar-element
{
    background-color:#FFB6C1;
    flex-basis:7%;
    height:40px;
}